html {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#main-nav ul li {
  list-style: none;
  margin-right: 1rem;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: rgb(255, 43, 6);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 5px;
}

#main-nav ul {
  display: flex;
  flex-direction: row;
}

#main-nav ul {
  padding: 0px;
}

#main-nav a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

.hover-bg {
  background-color: #A7140F;
}

h1{
  font-size: 26px;
  margin: 30px 0px 5px 10px;
}

h2{
  font-size: 22px;
  margin: 30px 0px 0px 10px;
  color: #d1312c;
}

p{
  margin-left: 3%;
  margin-right: 3%;
  text-indent: 2em;
  font-size: 15px;
}

h3{
  font-size: 18px;
  margin: 20px 0px 0px 10px;
}

h4{
  font-size: 16px;
  margin: 20px 0px 0px 10px;
}

button{
  background-color: #ffffff00;
  text-align: left;
}

/** Past Events Page**/

#past-events-nav ul{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

#past-events-nav li{
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: "\1F4A1";
  color: #d1312c;
  font-weight: bold;
}

#past-events-nav a{
  font-size: 15px;
  font-weight: bold;
  color: black;
}
