/** general rules for narrow screens **/
html {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif;
  letter-spacing: 0.4px;
  color: rgba(85, 85, 85);
}

.header p {
  font-size: 1.6rem;
  font-weight: bold;

  display: inline-block;
  position: absolute;
  right: 0px;
  margin-top: 8px;
}

.footer p {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 30px !important;
}

.footer nav ul {
  display: flex;
  list-style: none;
  padding-left: 34px;
}

.footer nav ul li {
  width: 50%;
}

.footer nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footer img {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.socials {
  text-align: center;
  margin-bottom: 30px;
}

.citation a {
  font-size: 10px;
  color: rgb(204, 200, 200);
  text-decoration: none;
}

.red {
  color: rgb(255, 43, 6);
  font-weight: bolder;
}

.black {
  color: black;
}

#burger,
#cross {
  font-size: 1.8rem;
  margin-left: 20px;
}

#cross{
  margin-bottom: 10px;
}

#main-nav {
  z-index: 1;
  width: 100%;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
}

#main-nav ul {
  padding-left: 0px;
}

#main-nav ul li {
  list-style: none;
  margin-top: 20px;
  padding-left: 0px;
}

#main-nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.dropdown li a {
  font-size: 18px !important;
  color: black;
}

.iAmHere {
  color: #A7140F;
}

.iAmNotHere {
  color: black;
}

.transparent {
  opacity: 0.1;
}

#main-nav ul li a:hover,
.events-button:hover {
  color: #d1312c !important;
}

body {
  margin: 0;
}

.bg_div h1 {
  font-size: 25px;
  font-weight: 800;
  padding: 20px 0px;
  margin: 0px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.bg_div {
  position: relative !important;
}

.bg_div a {
  text-decoration: none;
  font-size: 10px;
  color: black;
  position: absolute;
  bottom: 5%;
  left: 2%;
}

h2 {
  font-size: 22px;
  margin: 30px 0px 0px 5%;
  color: #d1312c;
}

p {
  margin-left: 5%;
  margin-right: 4%;
  font-size: 15px;
  line-height: 120%;
}

.citation {
  margin: 0px;
}

h3 {
  font-size: 18px;
  margin: 20px 0px 0px 5%;
  text-decoration: underline;
}

button {
  background-color: #ffffff00;
  text-align: left;
  border: none;
  cursor: pointer;
}

h4 {
  margin-left: 5%;
}

.hidden {
  display: none;
}

.break_line:after {
  content: " ";
  display: block;
  border-bottom: 1.5px solid #d1d1d1;
  margin: 3.5%;
}

.break_line_red:after {
  content: " ";
  display: block;
  border-bottom: 3px solid rgb(255, 43, 6);
  margin-bottom: 3.5%;
}

.events-button {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.background {
  width: 100%;
  max-width: 1800px;
  opacity: 0.4;
}

#cornell {
  opacity: 0.7;
}

/** Home -- narrow screens **/

.home {
  display: flex;
  flex-direction: row;
}

#home-description strong{
  color:#d1312c;
  font-size: 120%;
}

#homebackground {
  width: 500px;
}

.home-container1{
  display: flex;
  flex-direction: column;
}

.home-container1 figure{
  margin-left: auto !important;
  margin-right: auto !important;
}

.home-container1 figure img{
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.home-container{
  display: flex;
  flex-direction: column !important;
  padding: 0px !important;
  margin-left: 5%;
  margin-right: 5%;
}

.home-container p{
  line-height: 150%;
}

.home-container h2{
  margin-top: 10px;
}

#apply-member,
#apply-speaker,
#email-contact,
#social-media{
  display: flex;
  flex-direction: column;
  border: solid 1.5px #A7140F;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}

#apply-speaker a,
#social-media a,
#email-contact strong{
  color: #d1312c;
  font-weight: 500;
}

.home-container img{
  width: 100%;
  min-width: 50px;
  max-width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.home-container h2{
  margin-top: 15px;
  font-size: 20px;
}

#break_red_home{
  margin-top: 20px;
}


/** Past Events -- narrow screens **/

#event-image1,
#event-image4 {
  display: flex;
  margin: 0px;
  margin-top: 10px;
}

#event-image1 img,
#event-image4 img {
  min-width: 200px;
  max-width: 600px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.text a {
  color: #d1312c;
}


#past-events-nav ul {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8%;
  padding-left: 0px;
}

#past-events-nav ul li ul {
  display: flex;
  margin-left: 3%;
}

#past-events-nav ul li ul .right {
  margin-left: 25px;
  font-size: 18px;
}

#past-events-nav li {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: "\1F4A1";
  color: #d1312c;
  font-weight: bold;
}

#past-events-nav a {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

#events_photo_21,
#events_photos {
  display: flex;
  flex-direction: column;
}

#uproot img,
#unmute img,
#events_photos img {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#uproot-posters {
  display: flex;
  margin-top: 20px;
}

#uproot-posters figure {
  width: 50%;
  padding: 0px;
  margin: 0px;
}

#uproot-posters img {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

#uproot li,
#unmute li {
  margin-top: 8px;
  margin-bottom: 8px;
}

#uproot li button,
#unmute li button {
  border: none;
  font-weight: bold;
}

.speaker-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.arrow-right {
  position: absolute;
  top: 70px;
  right: 5%;
  font-size: 26px;
  background-color: rgb(207, 204, 204);
}

.arrow-left {
  position: absolute;
  top: 70px;
  left: 5%;
  font-size: 28px;
  background-color: rgb(207, 204, 204);
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgb(130, 130, 130) !important;
}

.speaker-heading h4 {
  font-size: 18px;
  color: #d1312c;
  margin: 20px 10px 10px 10px;
}

.speaker-heading p {
  font-size: 14px;
  text-indent: 0;
  margin: 10px 10% 0px 10%;
}

.speaker-heading h5 {
  margin: 0;
  font-size: 16px;
}

.speaker-wide p {
  margin: 10px 6% 0px 6%;
}

#slider22 img,
#slider21 img {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#slider22 div,
#slider21 div {
  margin-bottom: 10px;
}

#slider22 .hidden,
#slider21 .hidden {
  display: none;
}

.speaker-wide {
  display: flex;
  flex-direction: column;
}

.speaker-wide figure {
  margin-left: auto;
  margin-right: auto;
}

#unmute-poster {
  display: flex;
}

#unmute-poster img {
  max-width: 400px;
}

#toSpeaker1:hover,
#toSpeaker2:hover,
#toSpeaker3:hover,
#toSpeaker4:hover,
#toSpeaker5:hover,
#toSpeaker6:hover,
#toSpeaker1-22:hover,
#toSpeaker2-22:hover,
#toSpeaker3-22:hover,
#toSpeaker4-22:hover,
#toSpeaker5-22:hover,
#toSpeaker6-22:hover,
#toSpeaker7-22:hover {
  color: #d1312c;
}

/** Our Story -- narrow screens **/

.member-container h3 {
  font-size: 20px;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

#last {
  margin-top: 10px;
}

.page-subheader {
  margin-left: 4%;
  margin-right: 3%;
  font-size: 15px;
}

#info-wrapper {
  display: flex;
  flex-direction: column;
}

.member-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.member-subcontainer {
  display: flex;
  flex-direction: row;
  margin: 0px !important;
}

.member-subcontainer figure {
  width: 65%;
}

.member-image {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  display: block;
}

.card figcaption {
  padding: 10px 0px;
  text-align: center;
  background-color: rgb(223, 223, 223);
  font-size: 18px;
  max-width: 300px;
  min-width: 200px;
}

.card {
  margin-bottom: 20px !important;
}


.home-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.ghost {
  width: 40px;
}

.apply-btn {
  color: black;
  height: auto;
  font-size: 2.5rem;
  width: 30%;
  padding: 20px;
  display: block;
  text-align: center;
}

.ta-left {
  text-align: start;
}

.darken {
  background-color: #A7140F;
}

.column-display {
  display: flex !important;
  flex-direction: column !important;
}

.half-width {
  width: 50% !important;
  margin: auto !important
}

/* faq -- narrow screens */

.heading {
  margin-top: 1em;
  font-size: 22px;
}

.headingborder {
  color:#000000;
  width:91.5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  border-top: 2px solid #A7140F;
}

.pairs {
  margin-left: 3.5%;
  margin-right: 3.5%;
  border:solid;
  border-color: #000000;
  border-radius: .5em;
  margin-bottom: .4rem;
  cursor: pointer;
}

.question {
  font-size: 18px;
  padding: 0.8rem;
  padding-left: 1rem;
}


.pairs:hover {
  border-color: #d1312c;

}

.alltextfaq {
  margin-bottom:2rem

}

.alltextfaq p {
  margin-left: 1rem;
  margin-top: 0px;
}


@media (max-width: 400px){
  #faq_heading{
    font-size: 20px;
  }
}

@media (min-width: 700px) {

  /** general rules for wide screens **/

  .bg_div h1 {
    font-size: 4vw;
  }

  #logo {
    width: 30vw;
  }

  .break_line:after {
    margin-left: 0px;
    margin-right: 0px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    font-size: 24px;
  }

  h1 {
    font-size: 26px;
  }

  .header p {
    font-size: 1.8rem;
    position: static;
  }

  #main-nav {
    position: static;
    display: inline-block;
    width: 60%;
  }

  #main-nav ul li {
    padding-left: 0.9rem;
    padding-right: 0.1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 5px;
  }

  #main-nav ul {
    display: flex;
    padding: 0px;
    margin-bottom: 10px;
  }

  #main-nav ul li a,
  .events-button {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    word-spacing: 0.8px;
  }

  #burger {
    display: none;
  }

  .dropdown {
    z-index: 1;
    position: absolute;
    flex-direction: column;
    background-color: white;
    border: 2px solid #C8C8C8;
    margin-top: 10px;
  }

  .dropdown li a {
    font-size: 15px !important;
  }

  .dropdown li {
    padding: 0px !important;
    margin: 10px 15px !important;
  }

  .hidden_dropdown {
    display: none !important;
  }

  /** for Home -- wide screens **/

  #break_home{
    margin-left: 10%;
    margin-right: 10%;
  }

  .home-container1{
    width: 80%;
    flex-direction: row !important;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .home-container1 p{
    margin-left: 0px;
    margin-right: 10px;
  }

  .home-container1 p, .home-container1 figure{
    width: 50%;
  }

  #apply-member,
  #apply-speaker,
  #email-contact,
  #social-media{
    flex-direction: row;
    padding-left: 40px;
  }

  .home-container{
    margin-left: 10%;
    margin-right: 10%;
  }

  /** For past events -- wide screens **/

  #past-events-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #past-events-body h2 {
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 0px;
  }

  #past-events-body h1 {
    margin-left: 0px;
  }

  #past-events-body p {
    margin-left: 0px;
    margin-right: 10px;
  }

  .overview {
    display: flex;
  }

  .overview .text {
    width: 65% !important;
  }

  .overview ul {
    padding-left: 2%;
    padding-right: 0;
    margin-right: 0;
    font-size: 18px;
  }

  .overview nav {
    width: 35%;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .right {
    margin-left: 0px !important;
  }

  .column li {
    margin-left: 5% !important;
  }

  .column li a {
    font-size: 16px !important;
  }

  #past-events-body h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  #past-events-body img {
    max-width: 800px;
  }

  #talks21 {
    margin-top: 30px;
  }

  #past-events-body h4 {
    font-size: 20px;
    margin-left: 0px;
  }

  #unmute .row {
    display: flex;
  }

  #unmute .row figure {
    width: 50% !important;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  #unmute .row figure img {
    width: 100% !important;
    max-width: 400px;
  }

  #uproot li button,
  #unmute li button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
  }

  .arrow-left,
  .arrow-right {
    font-size: 30px;
  }

  #slider21 p,
  #slider22 {
    margin-left: 40px;
    margin-right: 20px;
  }

  #unmute-poster {
    width: 50%;
    margin: 0px;
    margin-right: 20px;
  }

  #unmute-poster img {
    width: 100%;
    min-width: 200px;
  }

  #events_photo_21,
  #events_photos {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .speaker-heading h4 {
    font-size: 20px !important;
  }

  .speaker-heading h5 {
    font-size: 18px !important;
  }

  .speaker-heading p {
    font-size: 16px !important;
  }

  #slider21 img,
  #slider22 img {
    max-width: 500px;
  }

  #talks_row {
    display: flex;
  }

  #talks_row p {
    width: 50%;
  }

  #two_columns {
    column-count: 2;
  }

  .div_text {
    width: 50%;
  }

  /** Our Story -- wide screens **/

  .our-story {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .member-container h3 {
    font-size: 24px;
  }

  .break_story::after {
    margin-left: 10%;
    margin-right: 10%;
  }

  #info-wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .home-container1{
    display: flex;
    flex-direction: row;
  }

  /** FAQ -- wide screens **/

  .FAQsection{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .break_faq::after{
    margin-left: 15%;
    margin-right: 15%;
  }

  #faq_opening{
    margin-left: 15%;
    margin-right: 15%;
  }

  .pairs, .heading{
    margin-left: 0px;
    margin-right: 0px;
  }

  .headingborder{
    width: 100%;
  }

  #faq_opening{
    margin-top: 20px;
  }


  /** general rules **/
  .footer {
    margin-left: 5%;
    margin-right: 5%;
  }

  .footer nav {
    display: flex;
  }

  .footer nav ul {
    width: 50%;
  }

  .footer nav ul li a {
    font-size: 18px;
  }

  .footer .break_line::after {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .iAmHere {
    color: #A7140F !important;
  }

  .iAmNotHere {
    color: black !important;
  }

  .our-story {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .member-container h3 {
    font-size: 24px;
  }

  .break_story::after {
    margin-left: 10%;
    margin-right: 10%;
  }

}

@media (min-width: 900px) {

  /** For Our Story member photos**/
  #info-wrapper {
    flex-direction: row;
  }

  #last {
    margin-top: 30px;
  }
}

@media (min-width: 1000px) {

  /** general rules**/

  .footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  #past-events-body {
    width: 70%;
  }

  /** For Home**/

  .home-container1{
    width: 70%;
  }

  .home-container{
    display: flex;
    flex-direction: row !important;
  }

  #apply-speaker,
  #email-contact{
    margin-right: 20px;
  }

  #apply-member,
  #apply-speaker,
  #email-contact,
  #social-media{
    width: 50% !important;
  }

  .home-container img{
    margin-right: 20px;
  }

  #home-description{
    margin-right: 20px;
  }

  /** For Past Events**/

  .speaker-wide {
    display: flex;
    flex-direction: row;
  }

  .speaker-wide p {
    width: 50%;
    margin: 20px;
  }

  .arrow-left,
  .arrow-right {
    font-size: 36px;
  }

  .speaker-wide figure {
    width: 50%;
    margin-right: 40px;
  }

  .overview .text{
    width: 70%;
  }

  .overview nav {
    width: 30%;
  }

  .speaker-heading h4 {
    font-size: 22px !important;
  }

  .speaker-heading h5 {
    font-size: 18px !important;
  }

  .speaker-heading p {
    font-size: 16px;
  }

}

/** For Our Story member photos**/

@media (max-width: 500px) {
  .member-subcontainer {
    flex-direction: column;
  }
}

@media(min-width: 500px) {

  .member-subcontainer {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 30px !important;
  }

  .card {
    width: 50%;
    margin-bottom: 0px;
  }

  .card img {
    margin-right: auto;
    margin-left: auto;
  }

  .card figcaption {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 900px) {

  #our-story {
    width: 100%;
    margin-right: auto;
    margin-left: auto
  }

  .member-subcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .member-container {
    flex-direction: column;
  }
}

@media(max-width: 2000px) {
  .member-subcontainer {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .card {
    margin: auto
  }
}
